@font-face {
    font-family: 'ZenDots';
    src: url('../font/ZenDots-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: url('../font/OpenSans-Italic-VariableFont_wdth\,wght.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url('../font/Roboto-Medium.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}
.linia{
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 2px;
    opacity: 40%;
}
.portrait{
    position: relative;
    width: 100%;
}
.img-portrait{
    width: 100%;
}
.text-portrait{
    width: 50%;
    position: absolute;
    left: 10%;
    top: 40%;
    margin-left: 17%;
}
.text{
    color: white;
     font-size: 5em;
    font-family: ZenDots;
}
h1{
    font-family: OpenSans;
    font-size: 50px;
}
p{
    font-family: Roboto;
}
.text-portrait p{
    color: white;
    margin: 0px;
    font-size: 20px;
}
.boto_info{
    width: 300px;
    height: 60px;
    background-color: white;
    color: black;
    border: 2px solid black;
    font-size: 20px;
    font-family: cursive;
}
.boto_info:hover{
    background-color: black;
    color: white;
}
.boto{
    width: 100px;
    height: 40px;
    background-color: white;
    color: black;
    border: 2px solid black;
    font-size: 15px;
    font-family: cursive;
}
.boto:hover{
    background-color: black;
    color: white;
}
.pos_img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagenn{
    width: 500px;
    height: 300px;
}
.caja{
    width: 80%;
    border: 1px solid black;
    background-color: rgb(226, 226, 226);
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 40px;
}
.redes{
    font-size: 40px;
}
.foto{
    width: 100%;
    height: 250px;
}
.missatge {
    background: rgba(33, 41, 52, .85);
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    display: flex;
    position: fixed;
    z-index: 999;
    text-align: center;
    padding-top: 200px;
    display: none;
}
.missatge .contingut {
    background: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 500px;
    min-width: 250px;
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 20px;
    font-size: 20px;
}
.skills{
    font-size: 30px;
}
.imatge_meva{
    width: 40%;
    height: auto;
}
.inputs{
    width: 80%;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid black;
    background-color: rgb(238, 238, 238);
}
.textarea{
    width: 80%;
    margin-bottom: 10px;
    border-radius: 6px;
    border: 1px solid black;
    background-color: rgb(238, 238, 238);
}
.btn-form{
    width: 60%;
    background-color: white;
    border: 2px solid black;
    border-radius: 7px;
}
.btn-form:hover{
    background-color: rgb(99, 99, 99);
    color: white;
}